body {
  font-family: "Merriweather", serif;
}

.sec-1 {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  width: 1620px;
  height: 600px;
  border-radius: 16px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.greetings-ny {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 30px;
}
.new-year-party {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding-top: 10px;
}
.sec-1-text {
  padding: 80px 0 0 0;
}
.new-yr-photo img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* +++++++++++++ */
.discount-1 {
  color: #f00;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.deals-1 {
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  color: #f00;
}
.category-1 {
  text-align: center;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
/* ++++ */
/* midnight */
.mid-night {
  background-image: url(../images/Vectorrr.png);

  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 140px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 140px;
  width: 90%;
}
.mid-night h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  text-align: left;
  padding-top: 200px;
  padding-left: 100px;
}
.mid-night p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding-left: 100px;
}
.btn-primary {
  border: none;
  color: #1e1d1d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin: 100px;
}

/* ++++++++++ */

.location {
  text-align: center;
  width: 90%;
  height: 482px;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  margin-bottom: 140px;
  display: block;
  padding-top: 120px;
}
.loca-diff-colour {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.location h4 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.btn-join {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #f00;
  border: none;
}

/* +++++++++++ */

.comming-soon {
  display: flex;
  width: 90%;
  background-color: rgb(247, 247, 242);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 140px;
}
.comming-left h4 {
  color: #f00;
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
}
.comming-left H2 {
  color: #070211;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
}

.comming-centre img {
  border-radius: 450px;
  border: 15px solid #f00;
  width: 400px;
  height: 400px;
}
.comming-right h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.comming-right p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.comming-right img {
  margin-top: 50px;
}
.comming-left p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
/* ++++++++++++++++ */



